Source: gimp
Priority: optional
Section: graphics
Maintainer: Ari Pollak <ari@debian.org>
Standards-Version: 3.6.1
Build-Depends: debhelper (>= 5), binutils (>= 2.12.90.0.9), gettext, intltool, libaa1-dev, libgtk2.0-dev (>= 2.4.4-1), libgtkhtml2-dev (>= 2.0.0), libjpeg62-dev, libmpeg-dev, libart-2.0-dev, libpng-dev, xlibs-dev, zlib1g-dev, libtiff4-dev, python-dev, python-gtk2-dev, libexif-dev (>= 0.6.12), libmng-dev, librsvg2-dev (>= 2.7.2-2), libfontconfig1-dev (>= 2.2.0), libwmf-dev (>= 0.2.8-1.1), sharutils, sed (>= 3.95), libasound2-dev (>= 1.0.0) [!kfreebsd-i386 !hurd-i386], gcc-3.4 [arm]

Package: libgimp2.0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Replaces: libgimp1.3, gimp1.3-data, gimp-data (<< 2.0.0-6)
Conflicts: libgimp1.3, gimp1.3-data, gimp-data (<< 2.0.0-6)
Description: Libraries necessary to Run the GIMP
 This package includes the libgimp libraries, which are
 necessary to run The GIMP.
 .
 It has been split off from the main gimp package in order to 
 facilitate easy development for packages that use libgimp,
 like SANE, the Scanner Access package for GIMP, as well as any other
 third-party plugins.

Package: gimp-helpbrowser
Architecture: any
Section: graphics
Conflicts: gimp (<< 2.0.2-6)
Replaces: gimp (<< 2.0.2-6)
Depends: gimp (= ${Source-Version}), ${shlibs:Depends}
Description: Built-in Help Browser plugin for The GIMP
 This package includes the browser for reading documentation for The GIMP,
 accessible from within the program.

Package: gimp-python
Architecture: any
Section: graphics
Conflicts: gimp (<< 2.0.2-6)
Replaces: gimp (<< 2.0.2-6)
Depends: python-gtk2 (>= 1.99.12), ${shlibs:Depends}, ${python:Depends}
Description: Python support and plugins for The GIMP
 This package includes the Python modules necessary to write Python-based
 plugins for The GIMP. It includes several plugins with various useful
 features.

Package: gimp-svg
Architecture: any
Section: graphics
Depends: gimp (= ${Source-Version}), ${shlibs:Depends}
Description: SVG (Scalable Vector Graphics) plugin for The GIMP
 This package includes the plugin necessary for opening SVG (Scalable
 Vector Graphics) files in The GIMP.

Package: gimp
Architecture: any
Section: graphics
Depends: wget, gimp-data (= ${Source-Version}), ${shlibs:Depends}
Conflicts: gimp1.2 (<< 1.2.5-1), gimp1.3, gimp-nonfree, gimp-data (<< 2.0.2-4)
Replaces: gimp1.2 (<< 1.2.5-1), gimp1.3, gimp-nonfree, gimp-data (<< 2.0.2-4)
Provides: gimp2.0, gimp-nonfree
Recommends: gimp-svg, gimp-print
Suggests: gimp-help-en | gimp-help, gimp-python, libgimp-perl, gimp-data-extras, libasound2 (>= 1.0.0)
Description: The GNU Image Manipulation Program
 The GIMP lets you draw, paint, edit images, and much more! GIMP
 includes the functionality and plug-ins of other famous image
 editing and processing programs.
 .
 If you'd like to use a MIDI device as an input controller in GIMP,
 install libasound2 and read the how-to at /usr/share/doc/gimp/README.MIDI

Package: gimp-data
Architecture: all
Section: graphics
Conflicts: gimp1.3-data, gimp (<< 2.0.2-4)
Replaces: gimp1.3-data, gimp (<< 2.0.2-4)
Description: Data files for The GIMP
 This package contains architecture-independent supporting data files
 for use with The GIMP.

Package: libgimp2.0-dev
Architecture: any
Section: libdevel
Depends: libgimp2.0 (= ${Source-Version}), libgtk2.0-dev (>= 2.4.4-1)
Conflicts: libgimp1.3-dev
Replaces: libgimp1.3-dev
Description: Headers and other files for compiling plugins for The GIMP
 This package contains the header files for the GNU Image Manipulation
 Program, along with the static versions of libgimp.
 It also includes the gimptool-2.0 utility.
 .
 Install this package if you wish to compile your own plugins,
 or if you wish to develop packages that use libgimp. 

Package: libgimp2.0-doc
Architecture: all
Section: doc
Depends: lynx | www-browser
Description: Developers' Documentation for the GIMP library
 This package contains the HTML documentation for the GIMP library in
 /usr/share/gtk-doc/html/ .

Package: gimp-dbg
Priority: extra
Architecture: any
Section: graphics
Depends: gimp (= ${Source-Version}) | libgimp2.0 (= ${Source-Version}), ${shlibs:Depends}
Description: Debugging symbols for The GIMP
  This package includes the debugging symbols useful for debugging
  The GIMP and its libraries, contained in the gimp and libgimp2.0 packages.
  The debugging symbols are used for execution tracing and core dump
  analysis.
