Source: gimp
Priority: optional
Section: graphics
Maintainer: Ari Pollak <ari@debian.org>
Standards-Version: 3.6.1
Build-Depends: debhelper (>= 5), gettext, intltool,
 libx11-dev | xlibs-dev, libice-dev | xlibs-dev, libsm-dev | xlibs-dev,
 libxmu-dev | xlibs-dev, libxpm-dev | xlibs-dev, libxt-dev | xlibs-dev,
 libaa1-dev, libgtk2.0-dev (>= 2.8.8), libgtkhtml2-dev (>= 2.0.0),
 libjpeg62-dev, libart-2.0-dev, libpng-dev, zlib1g-dev, libtiff4-dev,
 python-dev, python-gtk2-dev, libexif-dev (>= 0.6.12), libmng-dev,
 librsvg2-dev (>= 2.7.2-2), libfontconfig1-dev (>= 2.2.0),
 libwmf-dev (>= 0.2.8-1.1), libfreetype6-dev,
 libpoppler-glib-dev (>= 0.3.1), libgnomevfs2-dev (>= 2.10.0),
 libgnomeui-dev (>=	2.10.0), 
 libasound2-dev (>= 1.0.0) [!kfreebsd-i386 !kfreebsd-amd64 !hurd-i386]
Build-Conflicts: libgimp2.0

Package: libgimp2.0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: Libraries necessary to run the GIMP - DEVELOPMENT VERSION
 This package includes the libgimp libraries, which are
 necessary to run The GIMP.
 .
 It has been split off from the main gimp package in order to 
 facilitate easy development for packages that use libgimp,
 like SANE, the Scanner Access package for GIMP, as well as any other
 third-party plugins.

Package: gimp-helpbrowser
Architecture: any
Section: graphics
Depends: gimp (= ${Source-Version}), ${shlibs:Depends}
Description: Built-in Help Browser plugin for The GIMP
 This package includes the browser for reading documentation for The GIMP,
 accessible from within the program.

Package: gimp-python
Architecture: any
Section: graphics
Depends: python-gtk2 (>= 1.99.12), ${shlibs:Depends}, ${python:Depends}
Description: Python support and plugins for The GIMP
 This package includes the Python modules necessary to write Python-based
 plugins for The GIMP. It includes several plugins with various useful
 features:
  * Clothify: Make the specified layer look like it's printed on cloth
  * ColorXHTML: Save the image as colored XHTML text
  * Console: Python interactive interpreter with Gimp extensions
  * Drop Shadow and Bevel - Add a drop shadow and/or bevel to a layer
  * Foggify: Add a layer of fog to an image
  * Py-Slice: Cuts an image along its guides and saves subimages + HTML
  * Sphere: Generate simple spheres with drop shadows
  * Whirl and Pinch: Distorts an image by whirling and pinching

Package: gimp-svg
Architecture: any
Section: graphics
Depends: gimp (= ${Source-Version}), ${shlibs:Depends}
Description: SVG (Scalable Vector Graphics) plugin for The GIMP
 This package includes the plugin necessary for opening SVG (Scalable
 Vector Graphics) files in The GIMP.

Package: gimp-gnomevfs
Architecture: any
Section: graphics
Depends: gimp (= ${Source-Version}), ${shlibs:Depends}
Conflicts: gimp-wget
Replaces: gimp-wget
Description: GNOME-VFS URI plugin for The GIMP
 This package includes a plugin for The GIMP which will open URIs (e.g.
 ftp:, http:, smb:, and sftp:) using protocol handlers from GNOME-VFS.

Package: gimp-wget
Architecture: any
Section: graphics
Depends: wget, gimp (= ${Source-Version}), ${shlibs:Depends}
Conflicts: gimp-gnomevfs
Replaces: gimp-gnomevfs
Description: Wget URI plugin for The GIMP
 This package includes a plugin for The GIMP which will open URIs (e.g.
 ftp: and http:) using the wget program.

Package: gimp
Architecture: any
Section: graphics
Depends: gimp-data (= ${Source-Version}), ${shlibs:Depends}
Conflicts: gimp-data (<< 2.3.8-2)
Replaces: gimp-data (<< 2.3.8-2)
Recommends: gimp-gnomevfs | gimp-wget, gimp-svg, gimp-print
Suggests: gimp-help-en | gimp-help, gimp-python, libgimp-perl, gimp-data-extras, libasound2 (>= 1.0.0), gimp-dbg
Description: The GNU Image Manipulation Program - DEVELOPMENT VERSION
 The GIMP lets you draw, paint, edit images, and much more! GIMP
 includes the functionality and plug-ins of other famous image
 editing and processing programs.
 .
 If you'd like to use a MIDI device as an input controller in GIMP,
 install libasound2 and read the how-to at /usr/share/doc/gimp/README.MIDI
 .
 This is the UNSTABLE DEVELOPMENT VERSION of gimp. It should not
 be used for production purposes. File formats may change without notice,
 gimp may crash, and you may lose data. If you need stability,
 do not install this package, use the 2.2 version from testing/unstable instead.
 If you do use this package, it is highly recommended that you install
 the associated gimp-dbg package as well, so that you can produce
 meaningful bug reports if needed.

Package: gimp-data
Architecture: all
Section: graphics
Recommends: gimp
Description: Data files for The GIMP
 This package contains architecture-independent supporting data files
 for use with The GIMP.

Package: libgimp2.0-dev
Architecture: any
Section: libdevel
Depends: libgimp2.0 (= ${Source-Version}), libgtk2.0-dev (>= 2.4.4-1), pkg-config
Suggests: libgimp2.0-doc
Description: Headers and other files for compiling plugins for The GIMP
 This package contains the header files for the GNU Image Manipulation
 Program, along with the static versions of libgimp.
 It also includes the gimptool-2.0 utility.
 .
 Install this package if you wish to compile your own plugins,
 or if you wish to develop packages that use libgimp. 

Package: libgimp2.0-doc
Architecture: all
Section: doc
Depends: lynx | www-browser
Description: Developers' Documentation for the GIMP library
 This package contains the HTML documentation for the GIMP library in
 /usr/share/gtk-doc/html/ .

Package: gimp-dbg
Priority: extra
Architecture: any
Section: graphics
Depends: gimp (= ${Source-Version}) | libgimp2.0 (= ${Source-Version}), ${shlibs:Depends}
Description: Debugging symbols for The GIMP
 This package includes the debugging symbols useful for debugging
 The GIMP and its libraries, contained in the gimp and libgimp2.0 packages.
 The debugging symbols are used for execution tracing and core dump
 analysis.
