#!/usr/bin/make -f
# PLEASE NOTE: when building a development version or a version where the minor
# library version changes or has changed but the major so version stays the 
# same, make sure to Build-Conflict on libgimpX.X, Where libgimpX.X contains
# a previous version of the same major version of the library. Otherwise,
# libtool will stupidly relink against the system version of the library
# when installing, and create a dependency on the old version of libgimp.

## WARNING: compiling without -O2 (DEB_BUILD_OPTIONS=noopt)may produce
## undesired effects, especially when scaling JPEG images

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

## Read version numbers from the changelog (for upstream dev versions)
version=$(shell dpkg-parsechangelog | grep '^Version: ' | sed -e 's/^Version: //' | sed -e 's/-.*//')
major=$(shell echo ${version} | cut -d. -f1-2)
micro=$(shell echo ${version} | cut -d. -f3 | cut -d+ -f1)
nextmicro=$(shell expr ${micro} + 1)


DEB_CONFIGURE_EXTRA_FLAGS := \
	--enable-python --without-gnomeprint --without-gimpprint \
	--enable-default-binary
DEB_BUILDDIR := $(DEB_SRCDIR)/build

DEB_DH_SHLIBDEPS_ARGS_ALL := \
	-Llibgimp2.0 -l$(CURDIR)/debian/libgimp2.0/usr/lib -Xlibcontroller_midi.so

# For the stable branch:
#DEB_DH_MAKESHLIBS_ARGS_libgimp2.0 := -V "libgimp2.0 (>= 2.4.0)"
# For the development branch:
DEB_DH_MAKESHLIBS_ARGS_libgimp2.0 := \
	-V "libgimp2.0 (>= ${version}), libgimp2.0 (<< ${major}.${nextmicro})"

clean::
	rm -rf build

common-install-impl::
	# Remove compiled python files from the distribution, this is done in
	# postrm
	find $(CURDIR)/debian/tmp -name "*.py[co]" -exec xargs rm '{}' ';'

	dh_movefiles

binary-install/gimp-wget::
	mv $(CURDIR)/debian/gimp/usr/lib/gimp/2.0/plug-ins/uri \
		$(CURDIR)/debian/gimp-gnomevfs/usr/lib/gimp/2.0/plug-ins/uri
	rm $(DEB_BUILDDIR)/plug-ins/uri/uri

	# Build wget-only URI plugin
	sed	-e 's/\(backend_sources.*gnome\)/#\1/' \
		-e 's/#\(backend_sources.*wget\)/\1/' \
		-e 's/\(am__objects.*gnome\)/#\1/' \
		-e 's/#\(am__objects.*wget\)/\1/' \
		-e '/^.*$$(URI_LIBS).*$$/d' \
		$(DEB_BUILDDIR)/plug-ins/uri/Makefile > \
			$(DEB_BUILDDIR)/plug-ins/uri/Makefile.wget
	cd $(DEB_BUILDDIR)/plug-ins/uri && make -f Makefile.wget

	mv $(DEB_BUILDDIR)/plug-ins/uri/.libs/uri \
		$(CURDIR)/debian/gimp-wget/usr/lib/gimp/2.0/plug-ins/uri
	rm $(DEB_BUILDDIR)/plug-ins/uri/uri

binary-install/gimp-python::
	dh_pysupport -pgimp-python /usr/lib/gimp/2.0/python

binary-predeb/gimp::
	sed -i -e 's/libglib2.0-0 (>= 2.10.0)/libglib2.0-0 (>= 2.10.2)/' \
		debian/gimp.substvars
	sed -i -e 's/libgtk2.0-0 (>= 2.8.0-1)/libgtk2.0-0 (>= 2.8.8)/' \
		debian/gimp.substvars
