#!/usr/bin/make -f
# PLEASE NOTE: when building a development version or a version where the minor
# library version changes or has changed but the major so version stays the 
# same, make sure to Build-Conflict on libgimpX.X, Where libgimpX.X contains
# a previous version of the same major version of the library. Otherwise,
# libtool will stupidly relink against the system version of the library
# when installing, and create a dependency on the old version of libgimp.

## WARNING: compiling without -O2 (DEB_BUILD_OPTIONS=noopt) may produce
##undesired effects, especially when scaling JPEG images.

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

## Read version numbers from the changelog (for upstream dev versions)
version=$(shell dpkg-parsechangelog | grep '^Version: ' | sed -e 's/^Version: //' | sed -e 's/-.*//')
major=$(shell echo ${version} | cut -d. -f1-2)
micro=$(shell echo ${version} | cut -d. -f3 | cut -d+ -f1)
nextmicro=$(shell expr ${micro} + 1)


DEB_CONFIGURE_EXTRA_FLAGS := \
	--enable-python --disable-print --enable-default-binary
DEB_BUILDDIR := $(DEB_SRCDIR)/build

DEB_DH_SHLIBDEPS_ARGS_ALL := \
	-Llibgimp2.0 -l$(CURDIR)/debian/libgimp2.0/usr/lib -Xlibcontroller_midi.so

# For the stable branch:
DEB_DH_MAKESHLIBS_ARGS_libgimp2.0 := -V "libgimp2.0 (>= 2.2.0+rel)"
# For the development branch:
#DEB_DH_MAKESHLIBS_ARGS_libgimp2.0 := \
#	-V "libgimp2.0 (>= ${version}), libgimp2.0 (<< ${major}.${nextmicro})"

clean::
	rm -rf build

common-install-impl::
	mkdir -p debian/tmp/usr/share/mime-info/ \
		debian/tmp/usr/share/application-registry/ \
		debian/tmp/usr/share/pixmaps
	install -D -m644 debian/tmp/usr/share/gimp/2.0/misc/gimp.desktop \
		debian/tmp/usr/share/applications/gimp-2.2.desktop
	install -m644 debian/tmp/usr/share/gimp/2.0/misc/gimp.keys \
		debian/tmp/usr/share/mime-info/gimp-2.2.keys
	install -m644 debian/tmp/usr/share/gimp/2.0/misc/gimp.applications \
		debian/tmp/usr/share/application-registry/gimp-2.2.applications

	# Remove compiled python files from the distribution, they're created in 
	# postrm using dh_python
	find $(CURDIR)/debian/tmp -name "*.py[co]" -exec rm '{}' ';'

	dh_movefiles

binary-install/gimp-python::
	dh_pysupport -pgimp-python /usr/lib/gimp/2.0/python
